<div class="container">
  <header class="jumbotron">
    <div class="container">
      <h1>Welcome To MovieHouse!</h1>
      <p>See now playing movies at AMC theatres!</p>
      <p>
        <a class="btn btn-primary btn-lg">Search for a Movie</a>
      </p>
    </div>
  </header>

  <div class="row text-center style=display:flex; flex-wrap: wrap;">
    <div class="col-md-3 col-sm-6" *ngFor="let movie of movies">
      <div class="thumbnail">
          <img src={{movie.media.posterDynamic}}>
        <div class="caption">
          <h4>{{movie.name}}</h4>
          <h5>{{movie.releaseDateUtc.substring(0,10)}} | {{movie.mpaaRating}} </h5>
          <a class="btn btn-danger" href={{movie.showtimesUrl}}>Buy Tickets</a>
          <a class="btn btn-primary" [routerLink]="['/movies', movie.name]">More Details</a>
        </div>
      </div>
    </div>
  </div>
</div>
